@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --grid-height: 482px;
}

body {
    background-color: azure;
    overflow: hidden;
}

h2 {
    width: 100vw;
    text-align: center;
}

#container {
    width: var(--grid-height);
    height: var(--grid-height);
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    box-shadow: 0px 0px 25px -3px rgba(0,0,0,0.75);
}

.grid-item {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.02);;
}

main {
    height: 100vh;
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.btns-container {
    height: var(--grid-height);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.3rem;
    padding: 0.3em;
    border: none;
    border-radius: 0.1em;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
    transition: 0.2s linear;
}

.btn:hover {
    background-color: rgb(199, 189, 167);
}

.btn:active {
    box-shadow: 11px 9px 26px -20px rgba(0,0,0,0.75);
}